version: "3.9"

services:
  backend:
    build:
      context: ./backend
    ports:
      - "4000:4000"
    environment:
      # Puedes poner localhost si lo usas desde la misma VM
      # o la IP pública si lo abrirás desde fuera
      PORT: 4000
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm run dev -- --host 0.0.0.0
    networks:
      - entrenamiento_net

  frontend:
    build:
      context: ./frontend-web
    ports:
      - "5173:5173"
    environment:
      # ESTA VARIABLE ES LA CLAVE DEL ERROR QUE TENÍAS
      VITE_API_BASE: "http://localhost:4000"
    volumes:
      - ./frontend-web:/app
      - /app/node_modules
    command: npm run dev -- --host 0.0.0.0
    networks:
      - entrenamiento_net

networks:
  entrenamiento_net:
    driver: bridge
